.example-container {
  width: 100vw;
  height: 100%;
  overflow: hidden;
}

mat-sidenav{

    width: 30%;
    border-right: none;
    background: #002b5c;
    color: white;

    padding: 16px;
    text-align: center;
}
mat-sidenav-content{
  width: 100%;
}
.example-sidenav{
  width: 14vw;
  background-color: #3367d6;
  padding: 25px;

}
