.example-container {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   align-items: center;
//   justify-content: center;
// }
.example-sidenav {
   user-select: none;
}







// // mat-sidenav{

// //     width: 30%;
// //     border-right: none;
// //     background: #002b5c;
// //     color: white;

// //     padding: 16px;
// //     text-align: center;
// // }
// // mat-sidenav-content{
// //   width: 100%;
// // }
.example-sidenav{
  width: 18vw;
  background-color: #3367d6;
  // padding: 25px;

}

.content{
  overflow-x:hidden;
  height:100%;
}
// app-main-toolbar{
//   width:100%;
//   overflow: hidden;
// }
