<mat-nav-list class="nav-items">
  <a mat-list-item [routerLink]="'/dashboard'">Dashboard</a>
  <a mat-list-item [routerLink]="'/orders'">Dropship Managers</a>
  <a mat-list-item [routerLink]="'/products'">Market Place</a>
  <a mat-list-item [routerLink]="'/products'">Sales</a>
  <a mat-list-item [routerLink]="'/products'">Catalog</a>
  <a mat-list-item [routerLink]="'/products'">Customers</a>
  <a mat-list-item [routerLink]="'/products'">Velocity</a>
  <a mat-list-item [routerLink]="'/products'">Promotions</a>
  <a mat-list-item [routerLink]="'/products'">CMS</a>
  <a mat-list-item [routerLink]="'/products'">Settings</a>
  <a mat-list-item [routerLink]="'/products'">STRIPE</a>
  <a mat-list-item [routerLink]="'/products'">Tenants</a>
  <a mat-list-item [routerLink]="'/products'">Progressive web app</a>
  <a mat-list-item [routerLink]="'/products'">Configure</a>
  <a mat-list-item [routerLink]="'/products'">Market Place</a>
</mat-nav-list>
