.mat-tree {
  width: 100%;
  background-color: #3367d6;
  color: white;
  // left: 20px;
  // top: 85px;
  // overflow: ovw;
}
// .mat-icon-rtl-mirror {
//   color: white
// }

mat-tree-node{
  color: white
}

mat-icon {
  position: fixed;
  left: 100px;
}


mat-list-item{
  color: white;
}

.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.example-sidenav {
   user-select: none;
}
.full-width {
  width: 120%;
  font-size:14px;
  color:white;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
  position: relative;
  left:10px;
  color:white;
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  // overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.mat-icons{
  position: relative;
  left:0;
  color:white;
}
