.mat-tree {
  width: 100%;
  background-color: #3367d6;
  color: white;
  // left: 20px;
  // top: 85px;
  // overflow: ovw;
}
// .mat-icon-rtl-mirror {
//   color: white
// }
.nav-items{
  color: white;
}
mat-tree-node{
  color: white
}

mat-icon {
  position: fixed;
  left: 100px;
}
