<mat-sidenav-container class="example-container ">
  <mat-sidenav mode="side" opened class="example-sidenav sidebar-fixed">
    <app-navigation></app-navigation>
  </mat-sidenav>
  <mat-sidenav-content class="example-content mr-100">
  <app-main-toolbar></app-main-toolbar>
  <!-- <app-dashboard></app-dashboard>
  <app-test></app-test>
  <app-order></app-order>
  <app-transactions></app-transactions>
  <app-sellers></app-sellers>
  <app-seller-review></app-seller-review>
  <app-bulk-upload-products></app-bulk-upload-products>
  <app-bulk-upload-data-flow></app-bulk-upload-data-flow> -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>
