.example-toolbar {
  background-color: #eeeeee;
  width: inherit;
  height: 10vh;
  // position: fixed;
}

.mat-drawer-content {
  position: fixed;
  z-index: 1;
  display: block;
  height: in;
  /* overflow: auto; */
}

.mat-icon.mat-accent {
  color: #5e5e5e;
  position: relative;
  left: 504px;
  top: 3px;
}

mat-form-field {
  height: 10px;
  position: relative;
  bottom: 14px;
}

.seerch-label {
  font-size: 13px;
  position: relative;
  right: 256px;
  // top: -5px;
}

.search-icon {
  position: relative;
  right: 323px;
  top: 10px;
  margin-right:2px;
}

.mat-button-wrapper {
  background-color: black;
}

input {
  position: relative;
  left: 101px;
  top: 1px;
  width: 387px;
  height: 28px;
  padding-left: 50px;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(240, 240, 240);
}

app-user-details{
  position: relative;
  // right:0px;
  right: 250px;
}
