.example-toolbar {
  background-color: #eeeeee;
  width: 100%;
  height: 10vh;
}

.mat-icon.mat-accent {
  color: #5e5e5e;
  position: relative;
  left: 651px;
  top: 4px;
}

mat-form-field {
  height: 10px;
  position: relative;
  bottom: 14px;
}

.seerch-label {
  font-size: 13px;
  position: relative;
  right: 270px;
}

.search-icon {
  position: relative;
  right: 340px;
  top: 10px;
}

.mat-button-wrapper {
  background-color: black;
}

input {
  width: 297px;
  height: 28px;
  padding-left: 30px;
  padding: 5px;
  border-radius: 20px;
  background-color: rgb(231, 231, 231);
  border: 2px solid rgb(66, 66, 66);
}
