.main-container{

}

.form-container{
display: flex;
flex-direction: column;
}
.first-container{
  display: flex;
  flex-direction: column;
}
.second-container{
  display: flex;
  flex-direction: column;
}
