<div class="main-container">
<h2>Upload Files</h2>
  <div class="form-container">
    <div class="first-container">
      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Please Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button [style.width.px]="150">Download Sample</button>

    </div>
    <h3>Import Products</h3>
    <div class="second-container">
      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Please Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Please Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Choose File</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" [style.width.px]="400">
        <mat-label>Choose File</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <button class= mat-raised-button [style.width.px]="100">save</button>

    </div>
  </div>
</div>
