.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 74vw;
  height: 180vh;
  position: relative;
  left: 61px;
  top: 54px;
}

.first-level {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.map-card {
 width: 46vw;
 height: 38vh
}

.trofe-card{
  width: 23vw;
  height: 55vh;
  position: relative;
  left: 10px;
}

.table-card {
  width: 25vw;
  height: 49vh;
  position: relative;
  bottom: 103px;
}

.graph-card{
  width: 44vw;
  height: 31vh;
  position: relative;
  bottom: -22px;
  left: 13px;
}
.second-level{
  width: 100%;
  position: relative;
  bottom: 60px;
}
.second-container{
  width: 100%;
}
.left-content {
  display: flex;
  width: 30vw;
  height: 70vh;
  flex-direction: column;
  position: relative;
  background-color: 2px solid black;
}

.right-content {
  width: 41vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 499px;
  bottom: 487px;

}

.first-contaner {
  display: flex;
  width: 30vw;
  height: 25vh;
  position: relative;
  left: 16px;

}

.f-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 11vw;
height: 28vh;
position: relative;
}

.s-card{
width: 11vw;
height: 28vh;
justify-content: center;
align-items: center;
display: flex;
  flex-direction: column;
position: relative;
left: 45px;
}

.second-container {
  display: flex;
  width: 30vw;
  height: 38vh;
  position: relative;
  top: 72px;
}

.third-container {
  display: flex;
  width: 41vw;
  height: 38vh;
  position: relative;
}

.fourth-container {
  display: flex;
  width: 41vw;
  height: 29vh;
  position: relative;
  top: 42px;
}

.demo-table-2 {
  width: 30vw;
}
.demo-table-3 {
  width: 41vw;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

mat-icon{
  color: #3367d6;

}
