

<div class="dashboard-container flex flex-wrap">
  <div class="first-level">
    <mat-card class="map-card">Simple card</mat-card>
    <mat-card class="trofe-card">Simple card</mat-card>
    <mat-card class="table-card">Simple card</mat-card>
    <mat-card class="graph-card">Simple card</mat-card>
  </div>
  <div class="second-level">
  <div class="left-content">
  <div class="first-contaner ">
    <div class="f-card">
      <mat-card class="f-card">
        <mat-icon aria-hidden="false" aria-label="Example home icon">shopping_bag</mat-icon>
<p>Total Product</p>
<p>223</p>

      </mat-card>
    </div>
    <div class="s-card">
      <mat-card class="s-card">
          <mat-icon aria-hidden="false" aria-label="Example home icon">supervisor_account</mat-icon>
<p>Total Customers</p>
<p>1223</p>
</mat-card>
    </div>
  </div>
  <div class="second-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table-2">
      <!-- Position Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><mat-icon>{{element.icon}}</mat-icon>{{element.face}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{element.weight}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
</div>
<div class="right-content">
  <div class="third-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table-3">
      <!-- Position Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><mat-icon>{{element.icon}}</mat-icon>{{element.perm_identity}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{element.weight}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
  <div class="fourth-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table-3">
      <!-- Position Column -->
      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><mat-icon>{{element.icon}}</mat-icon>{{element.perm_identity}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef>Weight</th>
        <td mat-cell *matCellDef="let element">{{element.weight}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef>Symbol</th>
        <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          (click)="clickedRows.add(row)"
          [class.demo-row-is-clicked]="clickedRows.has(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
</div>
</div>
</div>

