.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 74vw;
  height: 70vh;
  position: relative;
  left: 119px;
  top: 38px;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
}

.left-content {
  display: flex;
  width: 30vw;
  height: 70vh;
  flex-direction: column;
  position: relative;
  background-color: 2px solid black;
}

.right-content {
  width: 41vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 45px;
}

.first-contaner {
  display: flex;
  width: 30vw;
  height: 24vh;
  position: relative;
}

.f-card{
width: 11vw;
height: 24vh;
position: relative;
}

.s-card{
width: 11vw;
height: 24vh;
position: relative;
left: 45px;
}

.second-container {
  display: flex;
  width: 30vw;
  height: 38vh;
  position: relative;
  top: 61px;
}

.third-container {
  display: flex;
  width: 41vw;
  height: 38vh;
  position: relative;
}

.fourth-container {
  display: flex;
  width: 41vw;
  height: 24vh;
  position: relative;
  top: 42px;
}

.demo-table-2 {
  width: 30vw;
}
.demo-table-3 {
  width: 41vw;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}
